.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 651px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  font-style: italic;
  text-transform: none;
  width: 530px;
  margin: 98px auto 0;
}

.u-section-1 .u-line-1 {
  height: 10px;
  transform-origin: left center;
  width: 265px;
  margin: 20px auto 0;
}

.u-section-1 .u-form-1 {
  height: 114px;
  width: 530px;
  margin: 80px auto 60px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    height: 121px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 20px;
}